body{
    background: white;
    opacity: 92%;
    max-width:900px;
    margin:auto;
}

#title, .subtitle, .post_title {
    color:black;
    font-family:monospace;
    font-size:50px;
}

.post_title{
    font-size:16px;
    font-style: italic;
}

.post{  
    background:white;
    padding:20px;
    border:3px solid black;
    margin:20px;
}

.imagem1 img{
    width:20%;
    border: thin solid;
    border-radius:50%;
    padding: 10px;
    margin: auto;
    background-color:white;
}

.imagem2{
    width:100%;
    margin:auto;
}

.contacts_list li a{
    color:blue;
    font-size: 20px;
}

.contacts_list{
    list-style-type:none;
    padding-left:15px;
}
