body{
    background: white;
    max-width:900px;
    margin:auto;
}

.menu{
list-style:none;
border:1px solid #c0c0c0;
float:left;
margin: 0;
padding: 0;
}

.menu li{
    position:relative;
    float:left;
    border-right:1px solid #caf706;
    }

.menu li a{
    color:rgb(5, 5, 5); 
    text-decoration:none; 
    padding:5px 10px; 
    display:block;}

.menu li a:hover{
background:rgb(174, 221, 240);
color:#fff;
box-shadow:0 3px 10px 0 #CCC;
box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
    }

.menu li:hover ul,.menu li.over ul{
    display:block;
}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
    }

#title, .subtitle, .post_title {
    color:black;
    font-family:monospace;
    font-size:50px;
}

.post_title{
    font-size:16px;
    font-style: italic;
}

.post{  
    background:white;
    padding:20px;
    border:3px solid black;
    margin:20px;
}

.imagem1 img{
    width:20%;
    border: thin solid;
    border-radius:50%;
    padding: 10px;
    margin: auto;
    background-color:white;
}

.imagem2{
    width:100%;
    margin:auto;
}

.contacts_list li a{
    color:blue;
    font-size: 20px;
}

.contacts_list{
    list-style-type:none;
    padding-left:15px;
}
